MS_CLIENT_ID=
MS_CLIENT_SECRET=
MS_TENANT_ID=
MS_REDIRECT_URI=http://localhost/callback
MS_SCOPES=offline_access User.Read Mail.Read Mail.Send Calendars.Read Calendars.ReadWrite Files.Read

APP_SECRET=change-this-to-a-random-string
